version: '2'
services:
  service:
    environment:
      - ENVIRONMENT=ct
      - AWS_PROFILE=preprod
      - STORAGE_HOST=storage
      - STORAGE_PORT=8080
      - ENGINE_API_HOST=engine-api
      - ENGINE_API_PORT=8081
    image: "${APP_NAME}:${APP_VERSION}"
    depends_on:
      - storage
      - engine-api
    ports:
      - "9000"
    expose:
      - "9000"
  engine-api:
    build: .
    image: "385050320367.dkr.ecr.eu-west-1.amazonaws.com/wiremock-swagger/validator"
    command: "--swagger-url=\"https://raw.githubusercontent.com/telegraph/platforms-swagger-specs/master/newsroom/recommend-articles-engine-api.yaml\" --verbose --port 8081"
    depends_on:
      - storage
    volumes:
    - ./component-test/src/test/resources/recommender:/home/wiremock
    ports:
    - "8081"
    expose:
    - "8081"
  storage:
    image: "385050320367.dkr.ecr.eu-west-1.amazonaws.com/wiremock-swagger/validator"
    command: "--extensions=org.wiremock.extensions.swagger.SwaggerValidationExtension --verbose"
    volumes:
    - ./component-test/src/test/resources/storage:/home/wiremock
    ports:
      - "8080"
    expose:
      - "8080"
